

<div class=" col border p-2 mr-3 bg-light offset-1">
    <h4 class="text-secondary">Room - @Room.Id </h4>

    <input type="checkbox" @onchange="RoomCheckboxSelectionChanged" />
    @Room.RoomName <br />
    @Room.Price.ToString("c")<br />
    <input type="checkbox" @bind-value="@Room.IsActive" checked=@(Room.IsActive?"checked":null) /> &nbsp; is Active<br />
    <span>This room is @(Room.IsActive?"Active":"Inactive")</span><br />

    @if (Room.IsActive)
    {
        @foreach (var prop in Room.RoomProps)
        {
            <span class="text-muted"> @prop.Name - @prop.Value</span> <br />
        }
    }

    <EditDeleteButton isAdmin="true"></EditDeleteButton>
</div>

@code {
    [Parameter]
    public BlazorRoom Room { get; set; }

    [Parameter]
    public EventCallback<bool> OnRoomCheckboxSelection { get; set; }

    protected async Task RoomCheckboxSelectionChanged(ChangeEventArgs e)
    {
        await OnRoomCheckboxSelection.InvokeAsync((bool)e.Value);
    }
}
